body{
	font-family: 'Roboto', sans-serif;
}
.error{
	color:red;
	clear:both;
	margin-top:20px;
	padding-left:10px;
}

.login-logo{
	width: 100px;
	margin-left:10px;
	margin-bottom:10px;
}

.login-choice{
	padding:10px;
	float:left;
	width:150px;
	margin-left:75px;
	margin-top: 75px;
}

.login-choice:hover{
	border-radius: 5px;
	border: 2px solid #000;
}

.page{
	top: 0;
	left: 0;
	width: 100%;
}

.popup{
	visibility:visible;
	width: 500px;
	height: 350px;
	background: #FFFFFF;
	border: 5px solid #000;
	border-radius: 25px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: -600px;
	z-index: 100;
}
